# Hardware interfacing for Raspberry Pi
adafruit-circuitpython-busdevice
adafruit-circuitpython-mcp3xxx
adafruit-circuitpython-dht

# Data handling and logging
pandas

https://www.circuito.io/app?components=9443,200000,398782,398784,398785,398789,398790
